* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.generalBody {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.general {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 60px;
}
